target/
**/target/
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
nbproject/
nb-configuration.xml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
logs/
bin/
savedGames/
testSudoku/
readOnlyDir/
dependency-reduced-pom.xml
