target/
**/target/
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
nbproject/
mvn/
mvnw
mvnw.cmd
nbproject/private/
.netbeans_*
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
logs/
hs_err_pid*
Thumbs.db 
bin/
dependency-reduced-pom.xml
savedGames/
**/savedGames/
testDir/
testSudoku/
readOnlyDir/
*.sudoku
*.tmp
*.bak
*.swp
*~.nib
